@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans' , 'sans-serif' ;
}
body * {
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #247BA0 ; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 60vw;
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 50%;
    height: 65vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 10px 40px 12px #6dc5f8 ;

}
.card-login > h1{
    color:rgb(201, 192, 192)
}

.textfield{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction:column ;
    margin: 10px 0px;
}
.textfield > input{
    width:100% ;
    border:none;
    border-radius: 5px;
    padding: 20px;
    background-color: #d8dadb;
    font-size:12pt ;
    box-shadow: inset 0 0 1em rgb(175, 175, 175) !important;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color:cornsilk;
    margin-bottom: 10px;
}
.btn-login{
    width: 100%;
    padding: 20px;
    margin: 25px;
    border:none;
    border-radius: 6px;
    text-transform:uppercase ;
    font-weight:800 ;
    letter-spacing: 3px;
    color:rgb(11, 1, 102);
    background: #6abae9;
    cursor: pointer;
    outline: none !important;
  
}
.btn-login:hover{
    background-color: rgb(24, 95, 250);
}
.textfield > h5{
    cursor: pointer;
    color: rgb(253, 253, 253);
    text-align: right;

}
.cadastro{
    color:#fff;
    text-decoration: none !important;
    padding: 1px;
}
.redefinicao{
    color:#fff;
    text-decoration: none !important;
    float: right !important;
}
.logo-img {
    width: 15vh;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
}
.main-cadastro{
    width: 100vw;
    height: 100vh;
    background-color: #247BA0 ; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-cadastro{
    width: 60vw;
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.card-cadastro{
    width: 60%;
    height: 80vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow:0px 10px 40px 12px #6dc5f8 ;

}
.textfield-cadastro{
    width:100% ;
    display: flex ;
    justify-content: center;
    align-items: flex-start;
    flex-direction:column ;
    margin: 10px 0px;
}
.textfield-cadastro > input{
    width:100% ;
    border:none;
    border-radius: 5px;
    padding: 12px;
    background-color: #d8dadb;
    font-size:12pt ;
    outline: none;
    box-sizing: border-box;
}
.btn-cadastro{
    width: 100%;
    padding: 12px;
    margin: 25px;
    border:none;
    border-radius: 6px;
    text-transform:uppercase ;
    font-weight:800 ;
    letter-spacing: 3px;
    color:rgb(11, 1, 102);
    background: #6abae9;
    cursor: pointer;
    outline: none;
}
.btn-cadastro:hover{
    background-color: rgb(24, 95, 250);
}
.cadastro-img{
    width: 65vh;
}

@media only screen and (max-width: 950px){
    .card-cadastro{
        width: 80%;
        height: 90vh;
        
    }
}
@media only screen and (max-width: 600px){
    .main-cadastro{
        flex-direction: column;
    }
    .left-cadastro{
        width: 100%;
        height: auto;
    }
}